@theme {
  /* == BACKGROUND == */
  --color-ludo-background: #22273e;

  /* == SURFACE == */
  --color-ludo-surface: #303966;
  --color-ludo-surface-muted: color-mix(
    in srgb,
    var(--color-ludo-surface) 50%,
    transparent
  );
  --color-ludo-surface-hover: color-mix(
    in srgb,
    var(--color-ludo-surface) 80%,
    transparent
  );

  /* == ACCENT == */

  /* == MUTED ACCENT == */
  --color-ludo-accent-muted: #9eb2ff;

  /* == TEXT == */

  --color-ludoAltText: #d1d5dc;
  --color-ludo-text-dim: #ffffff80;
  --color-ludo-text-hover: #ffffffcc;

  --color-ludo-text-dim: #ffffff66;
  --color-ludo-text-disabled: #ffffff40;

  --color-ludo-accent: #5c6fd6;
  --color-ludo-danger: #d06060;
  --color-ludo-danger-hover: oklch(80.8% 0.114 19.571);
  --color-ludo-progress: #6a7cff;
  --color-ludo-border: #2a304f;

  --color-ludo-correct: #4ade8080;
  --color-ludo-incorrect: #f8717180;

  /* normal shadows */
  --shadow-ludo-surface: 0 7px 0
    color-mix(in srgb, var(--color-ludo-surface) 75%, black);
  --shadow-ludo-accent: 0 7px 0
    color-mix(in srgb, var(--color-ludo-accent) 75%, black);
  --shadow-ludo-white: 0 7px 0 color-mix(in srgb, white 90%, black);
  --shadow-ludo-danger: 0 7px 0
    color-mix(in srgb, var(--color-ludo-danger) 75%, black);

  /* disabled shadows */
  --shadow-ludo-surface-disabled: 0 5px 0 #30396680;
  --shadow-ludo-accent-disabled: 0 5px 0 #8369d680;
  --shadow-ludo-white-disabled: 0 5px 0 #ffffff80;

  /* Shadows Guidelines */

  /* 
  
  active: /15

  hover: /30
  
  */
}
