@source "../../../packages/design-system/**/*.{ts,tsx,js,jsx}";
@source "../../../packages/external/**/*.{ts,tsx,js,jsx}";
@import "tailwindcss";
@import "tw-animate-css";
@import "@ludocode/design-system/styles/components/ludo.css";
@import "@ludocode/design-system/styles/font/DMMono.css";
@import "@ludocode/design-system/styles/font/NeueHaas.css";
@import "@ludocode/design-system/styles/theme/ludo.css";
@import "@ludocode/design-system/styles/theme/chatbot.css";
@import "@ludocode/design-system/styles/utilities/ludo.css";

body {
  font-family: "DMMono", monospace;
}

.code {
  font-family: "DMMono", monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    background: #22273e;
  }
  body {
    @apply text-foreground;
    background: #22273e;
    overscroll-behavior: none;
    height: 100%;
    overflow: hidden;
  }
}
