@import "tailwindcss";

@theme {
  --color-ludoGrayDark: #22273E;
  --color-ludoGrayLight: #303966;
  --color-ludoGraySoft: #d9d9d9;
  --color-ludoYellow: #fff887;
  --color-ludoLightPurple: #B7A4F4;
  --color-ludoDarkPurple: #8F6AFF;
  --color-ludoGrayLightShadow: #262E57;
  --color-ludoGrayText: #364153;

  --shadow-ludoDarkPurpleShadow: 0 6px 0 #8F6AFF;


  --shadow-buttonShadow: 0 10px 0 #262E57;

  --color-ludoBlueGray: #323b44;

  --color-ludoPastelYellow: #FFCDAA;
  --color-ludoPink: #FF7BC0;

  --color-pythonYellow: #FFD140;
  --color-pythonBlue: #376F9E;
}

@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@layer utilities {
  .scrollbar-ludoYellow {
    scrollbar-width: thin;
    scrollbar-color: #303966 transparent;
  }

  .scrollbar-blue::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  .scrollbar-blue::-webkit-scrollbar-thumb {
    background-color: #303966;
    border-radius: 4px;
  }

  .scrollbar-blue::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "DMMono", monospace;
}
